@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(45, 31, 116, 1);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-r-header.is-open .w-r-header-background {
  left: 0;
}
.w-r-header-button-wrapper {
  margin-left: auto;
}
.w-r-header-icon {
  display: none;
}

.w-r-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-r-navigation-list.is-open {
  right: 0;
}
.w-r-header-icon-menu {
  display: block;
}

.w-r-header-icon-button.is-open .w-r-header-icon-menu {
  display: none;
}

.w-r-header-icon-button.is-open .w-r-header-icon-close {
  display: block;
}

.w-r-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 74px;
}

.w-r-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.w-r-header.is-open .w-r-header-background {
  left: 0;
}
.w-r-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-r-header-icon-menu {
  display: block;
}

.w-r-header-icon-button.is-open .w-r-header-icon-menu {
  display: none;
}

.w-r-header-icon-button.is-open .w-r-header-icon-close {
  display: block;
}

.w-r-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.w-r-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}

.w-r-navigation-list.is-open {
  right: 0;
}

.w-r-navigation-link {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.w-r-navigation-link:hover,
.w-r-navigatioт-link:focus {
  font-weight: 700;
  font-size: 24px;
}

.w-r-header.is-open {
  background-color: transparent;
}

.w-r-navigation-img {
  display: none;
}

@media screen and (min-width: 1194px) {
  .w-r-navigation-img {
    display: flex;
  }
  .w-r-policy-terms-header-icon-menu {
    display: none;
  }

  .w-r-header {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .w-r-header-background {
  }
  .w-r-header-icon-button {
    display: none;
  }
  .w-r-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-r-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 60px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-r-navigation-link {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  .w-r-navigation-item-desk {
    display: none;
  }
}
.w-r-home {
  width: 375px;
  height: 711px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 278.png");
  margin: auto;
}
.w-r-home-container {
  width: 375px;
  padding: 148px 0px 0px;
  margin: auto;
}

.w-r-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-r-home-title {
  width: 233.25787353515625px;
  height: 102px;
}

.w-r-home-text {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 300px 0 16px;
}

.w-r-home-google-button-image {
  width: 208px;
  height: 54px;
}

.w-r-home-google-button-link:hover .w-r-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1194px) {
  .w-r-home {
    width: 1440px;
    height: 891px;
    background-image: url("/img/home/Frame\ 279.png");
  }
  .w-r-home-container {
    width: 1440px;
    padding: 113px 39px 0px;
  }
  .w-r-home-container-top {
    width: 717px;
    margin: auto;
  }

  .w-r-home-title {
    width: 423.0657958984375px;
    height: 185px;
  }

  .w-r-home-text {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;

    padding: 407px 0 24px;
    margin: auto;
  }
}

.w-r-about-container {
  width: 375px;
  padding: 107px 20px 0;
  margin: auto;
}
.w-r-about-title {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.w-r-about-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  padding-top: 24px;
}

@media screen and (min-width: 1194px) {
  .w-r-about-container {
    width: 1440px;
    padding: 200px 262px 0;
    margin: auto;
  }
  .w-r-about-title {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 32px;
  }
  .w-r-about-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    padding-top: 40px;
  }
}
.w-r-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 38px 0;
}
.w-r-how-list {
  gap: 16px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.w-r-how-item {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 298px;
  height: 204px;
  padding: 23px;
}
.w-r-how-img {
  margin: auto;
  width: 38px;
  height: 38px;
}
.w-r-how-t {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;

  text-align: center;
  padding: 20px 0;
}
.w-r-how-d {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
@media screen and (min-width: 1194px) {
  .w-r-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 234px;
  }
  .w-r-how-list {
    gap: 40px;

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .w-r-how-item {
    width: 297px;
    height: 273px;
    gap: 20px;

    padding: 23px;
  }
  .w-r-how-img {
    width: 50px;
    height: 50px;
  }
  .w-r-how-t {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  .w-r-how-d {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
}

.w-r-reviews-container {
  margin: auto;
  padding: 80px 10px 0;
  width: 375px;
}
.w-r-reviews-list {
  padding: 14px 0;
}

.w-r-reviews-item {
  margin: 10px;
  color: rgba(0, 0, 0, 1);
  width: 336px;
  height: 274px;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 4px 4px 10px 0px rgba(77, 77, 77, 0.25);
  background: rgba(255, 255, 255, 1);
}
.w-r-reviews-item-q {
  display: flex;
  gap: 12px;
  align-items: start;
}
.w-r-reviews-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 20px 0 12px;
}

.w-r-reviews-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1194px) {
  .w-r-reviews-container {
    margin: auto;
    padding: 120px 0px 0;
    width: 1440px;
  }

  .w-r-reviews-list {
    padding: 30px 0;
  }

  .w-r-reviews-item {
    margin: 10px;
    width: 392px;
    height: 360px;

    border-radius: 24px;
    padding: 23px;
  }
  .w-r-reviews-item-q {
    display: flex;
    gap: 12px;
    align-items: start;
  }
  .w-r-reviews-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 20px 0 12px;
  }

  .w-r-reviews-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-r-reviews-img-q {
    width: 80px;
    height: 80px;
  }
  .w-r-reviews-img-w {
    width: 181px;
    height: 33px;
  }
}

.w-r-faq-container {
  padding: 80px 20px;
  width: 375px;
  margin: auto;
}
.w-r-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.w-r-faq-item {
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 1);

  border-radius: 16px;
  padding: 24px;
  color: rgba(0, 0, 0, 1);
}

.w-r-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-r-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-r-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.w-r-toggle-button img {
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1194px) {
  .w-r-faq-container {
    padding: 120px 356px;
    width: 1440px;
    margin: auto;
  }
  .w-r-faq-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .w-r-faq-question {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-r-faq-answer {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.w-r-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}
.w-r-gallery-list {
  width: auto;
  margin: 40px 0 24px;
  height: 435px;
}

.w-r-gallery-item {
  width: 146px;
  height: 259px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.w-r-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.w-r-gallery-list .slick-slide {
  width: 146px;
  height: 259px;

  transition: transform 0.6s ease-in-out, width 0.6s ease-in-out,
    height 0.6s ease-in-out;
}

.w-r-gallery-list .slick-slide.slick-center {
  width: 244px;
  height: 435px;

  z-index: 2;
}
.w-r-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.w-r-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.w-r-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1194px) {
  .w-r-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 88px 0;
  }
}

.w-r-policy-terms-container {
  padding: 148px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-r-policy-terms-container h1 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 36px;
}
.w-r-policy-terms-container h2 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-top: 20px;
}
.w-r-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.w-r-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1194px) {
  .w-r-policy-terms-container {
    padding: 218px 108px 60px;
    width: 1440px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-r-policy-terms-container h1 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;

    margin-bottom: 48px;
  }
  .w-r-policy-terms-container h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    margin-top: 20px;
  }
  .w-r-policy-terms-container ul {
    list-style-type: disc;
    margin: 0px 0 0 20px;
  }

  .w-r-email-link {
    color: inherit;
    text-decoration: none;
  }
}

.w-r-footer-container {
  width: 375px;
  padding: 18px 21px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: rgba(0, 0, 0, 1);
}

.w-r-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.w-r-footer-text {
  color: inherit;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.w-r-footer-copyright {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1194px) {
  .w-r-footer-container {
    width: 1440px;
    padding: 18px 199px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .w-r-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .w-r-footer-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .w-r-footer-copyright {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.w-r-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.w-r-cookie-popup-text-two {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}

.w-r-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-r-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(135, 97, 76, 1);

  width: 319px;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(45, 31, 116, 1);

  color: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.w-r-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1194px) {
  .w-r-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-r-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .w-r-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
